*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #e7effc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background-color: #161920;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.display{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    font-size: 3em;
    color: white;
}
.equation{
    color: #629e24;
    font-size: 18px;
    margin-bottom: 10px;
}
.result{
    color: #f9f9f9;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1px;
    height: calc(500px - 160px);
}
.buttons button{
    background-color: #252934;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.buttons button:hover{
    background-color: #151924;
}
.buttons .btn-grey{
    background-color: #363e4b;
}
.buttons .btn-clr{
    background-color: #ff9f0a;
}
.buttons .btn-grey:hover{
    background-color: #313549;
}
.buttons .btn-clr:hover{
    background-color: #ed8d00;
}

    



